.DataTable {
    padding: 20px;
    display: grid;

    .stats {
        display: flex;
        margin-top: 10px;

        .macrodistr {
            padding: 5px 0px 20px 0px;
            min-width: 300px;
            max-width: 300px;
            min-height: 370px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 5px;
        }
    }

    .DataTableTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link {
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        .newFriendButton {
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .cellwithimage {
        display: flex;
        align-items: center;

        .cellimage {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cellwithstatus {
        padding: 5px;
        border-radius: 5px;
        display: inline;

        &.Active {
            color: #37B874;
            border: solid 1px;
        }

        &.Pending {
            color: #1D73C1;
            border: solid 1px;
        }

        &.Inactive {
            color: #5F42CC;
            border: solid 1px;
        }
    }

    .cellAction {
        display: flex;
        align-items: center;
        gap: 30px;

        .viewButton {
            color: darkblue;
            cursor: pointer;
            text-decoration: underline;
        }

        .deleteButton {
            color: crimson;
            cursor: pointer;
        }
    }
}
